* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(5, auto);
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.logo {
  justify-self: start;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #c50208;
  display: grid;
  gap: 50px;
  grid-row: 2 / 5;
  grid-column: 1 / 2;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  justify-content: center;
  align-content: center;
}

.nav {
  background-color: #c50208;
  display: grid;
  grid-row: 2;
  grid-column: 2 / 3;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  grid-row: 3 / 5;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-row: 5 / 6;
  grid-column: 1 / 5;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
